<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.secuso.torchlight2" >

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="23"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pfa"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
        android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.HelpActivity"
            android:parentActivityName=".ui.MainActivity"
            android:label="@string/help"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
